*{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}
.greybg{
	background-color: #ddd;
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	border:1px solid #ccc;
	border-radius: 3px;
}
.greenbg{
	background-color: #569e3d;
	background-image: -webkit-linear-gradient(#79d858, #569e3d);
	background-image: linear-gradient(#79d858, #569e3d);
	border-color: 1px solid #4a993e;
	border-radius: 3px;
}
.redbg{
	background-color: #f41f16;
	background-image: -webkit-linear-gradient(#f41f16, #b5150d);
	background-image: linear-gradient(#f41f16, #b5150d);
	border-color: 1px solid #ca140b;
	border-radius: 3px;
}
.savebtn{
	position: fixed;
	top: 5px;
	left: 5px;
	width: 78px;
	height: 24px;
	line-height: 24px;
	.greybg;
	font-size: 12px;
	text-align: center;
	z-index:999;
}
.limitedbox{
	position: relative;
	width: 100%;
	height:0;
	padding-bottom: 68%;
	.canvasbox,.uploadbox{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.canvasbox{
		// width: 100%;
		// height: 100%;
	}
	.uploadbox{
		border: 3px dashed #999;
		cursor: pointer;
		.addicon{
			width: auto;
			padding-left: 35px;
			font-size: 20px;
			i{
				position: absolute;
				left:0;
				top:-7px;
				font-size: 30px;
			}
		}
	}
}
#photofile{
	display: none;
}
.beyond{
	width: 100%;
	min-height: 100px;
	position: relative;
	background-color: #f4f4f4;
	.emojibox,.ctrlbox,.removebox{
		width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left:0;
	}
	.emojibox{
		width: 100%;
		overflow: hidden;
		.scrollbox{
			// position: relative;
			display: none;
			width: 100%;
			height: 100%;
			overflow-x: scroll;
			padding:2px 0px 45px;
			.longbox{
				position: relative;
				height: 100%;
				// table{
				// 	height: 100%;
				// 	float: left;
				// 	table-layout: fixed;
				// 	border-collapse: collapse;
				// 	tr{
				// 		width: 100%;
				// 		height: 33.3%;
				// 		td{
				// 			position: relative;
				// 			width: 12.5%;
				// 			// border: 1px solid #ddd;
				// 			img{
				// 				width: 70%;
				// 				.veryCenter;
				// 			}
				// 		}
				// 	}
				// }
				.emojitable{
					height: 100%;
					float: left;
					&>div{
						position: relative;
						width: 14.28%;
						height: 33.3%;
						float: left;
						// &:after{
						// 	content:'';
						// 	clear: right;
						// }
						img{
							width: 70%;
							.veryCenter;
						}
					}
				}
			}
		}
		&[data-showid='emotion']{
			.scrollbox#emotion{
				display: block;
			}
			.section{
				&>div[data-tab='emotion']{
					background-color: #f4f4f4;
				}
			}
		}
		&[data-showid='human']{
			.scrollbox#human{
				display: block;
			}
			.section{
				&>div[data-tab='human']{
					background-color: #f4f4f4;
				}
			}
		}
		&[data-showid='animal']{
			.scrollbox#animal{
				display: block;
			}
			.section{
				&>div[data-tab='animal']{
					background-color: #f4f4f4;
				}
			}
		}
		&[data-showid='garment']{
			.scrollbox#garment{
				display: block;
			}
			.section{
				&>div[data-tab='garment']{
					background-color: #f4f4f4;
				}
			}
		}
		&[data-showid='food']{
			.scrollbox#food{
				display: block;
			}
			.section{
				&>div[data-tab='food']{
					background-color: #f4f4f4;
				}
			}
		}
		&[data-showid='other']{
			.scrollbox#other{
				display: block;
			}
			.section{
				&>div[data-tab='other']{
					background-color: #f4f4f4;
				}
			}
		}
		.pagenav{
			position: absolute;
			bottom: 30px;
			left:0;
			width: 100%;
			height: 15px;
			line-height: 7px;
			text-align: center;
			background-color: #f4f4f4;
			a{
				display: inline-block;
				width: 8px;height: 8px;
				border-radius: 4px;
				background-color: #ccc;
				margin: 0 2px;
				&.now{
					background-color: #777;
				}
			}
		}
		.section{
			position: absolute;
			bottom:0;
			left:0;
			width: 100%;
			height: 30px;
			line-height: 30px;
			background-color: #fff;
			&>div{
				float: left;
				width: 16.66%;
				text-align: center;
			}
		}
	}
	.ctrlbox{
		// padding-top:100px;
		display: none;
		background-color: #eee;
		table{
			width: 100%;
			height: 40%;
			.title{
				width: 20%;
				text-align: center;
			}
			.bar{
				width: 80%;
				input[type="range"]{
					width: 75%;
					position: relative;
					top: 3px;
				}
				input[type='text']{
					width: 18%;
					background-color: transparent;
					color: #333 !important;
					border: 0;
				}
			}
		}
		.btngroup{
			height: 60%;
			.btn{
				position: relative;
				width: 90%;
				margin: 0px auto;
				height: 35%;
				line-height: 30px;
				font-size: 18px;
				text-align: center;
				color: #fff;
				&:nth-child(1){
					.greenbg;
				}
				&:nth-child(2){
					.redbg;
				}
				span{
					.veryCenter;
				}
			}
		}
	}
	.removebox{
		display: none;
		background-color: #d8574a;
		i{
			font-size: 60px;
			color: #fff;
			.veryCenter;
		}
	}
}
.beyond.ctrlstate{
	// .emojibox{
	// 	display: none;
	// }
	.ctrlbox{
		display: block;
	}
}
.beyond.removestate{
	// .emojibox{
	// 	display: none;
	// }
	.removebox{
		display: block;
	}
}
.emoji{
	position: absolute;
	width: 80px;
}
.emoji.draging{
	opacity: 0.5;
}

.verticalCenter{
	display: block;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%); 
	-moz-transform:translateY(-50%); 	
	-webkit-transform:translateY(-50%); 
	-o-transform:translateY(-50%); 
}
.horizontalCenter{
	display: block;
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%); 
	-moz-transform:translateX(-50%); 	
	-webkit-transform:translateX(-50%); 
	-o-transform:translateX(-50%); 
}
.veryCenter{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%); 
	-moz-transform:translate(-50%,-50%); 	
	-webkit-transform:translate(-50%,-50%); 
	-o-transform:translate(-50%,-50%); 
}