* {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.limitedbox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 68%;
}
.limitedbox .uploadbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px dashed #999;
  cursor: pointer;
}
.limitedbox .uploadbox .addicon {
  width: auto;
  padding-left: 35px;
  font-size: 20px;
}
.limitedbox .uploadbox .addicon i {
  position: absolute;
  left: 0;
  top: -7px;
  font-size: 30px;
}
#photofile {
  display: none;
}
.beyond {
  width: 100%;
  min-height: 100px;
  position: relative;
  background-color: #f4f4f4;
}
.beyond .emojibox,
.beyond .ctrlbox,
.beyond .removebox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.beyond .emojibox {
  width: 100%;
  overflow: hidden;
}
.beyond .emojibox .scrollbox {
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  padding: 2px 0px 45px;
}
.beyond .emojibox .scrollbox .longbox {
  position: relative;
  height: 100%;
}
.beyond .emojibox .scrollbox .longbox table {
  height: 100%;
  float: left;
  table-layout: fixed;
  border-collapse: collapse;
}
.beyond .emojibox .scrollbox .longbox table tr {
  width: 100%;
  height: 33.3%;
}
.beyond .emojibox .scrollbox .longbox table tr td {
  position: relative;
  width: 12.5%;
}
.beyond .emojibox .scrollbox .longbox table tr td img {
  width: 70%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.beyond .emojibox[data-showid='emotion'] .scrollbox#emotion {
  display: block;
}
.beyond .emojibox[data-showid='emotion'] .section > div[data-tab='emotion'] {
  background-color: #f4f4f4;
}
.beyond .emojibox[data-showid='human'] .scrollbox#human {
  display: block;
}
.beyond .emojibox[data-showid='human'] .section > div[data-tab='human'] {
  background-color: #f4f4f4;
}
.beyond .emojibox[data-showid='animal'] .scrollbox#animal {
  display: block;
}
.beyond .emojibox[data-showid='animal'] .section > div[data-tab='animal'] {
  background-color: #f4f4f4;
}
.beyond .emojibox[data-showid='garment'] .scrollbox#garment {
  display: block;
}
.beyond .emojibox[data-showid='garment'] .section > div[data-tab='garment'] {
  background-color: #f4f4f4;
}
.beyond .emojibox[data-showid='food'] .scrollbox#food {
  display: block;
}
.beyond .emojibox[data-showid='food'] .section > div[data-tab='food'] {
  background-color: #f4f4f4;
}
.beyond .emojibox[data-showid='other'] .scrollbox#other {
  display: block;
}
.beyond .emojibox[data-showid='other'] .section > div[data-tab='other'] {
  background-color: #f4f4f4;
}
.beyond .emojibox .pagenav {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 15px;
  line-height: 7px;
  text-align: center;
  background-color: #f4f4f4;
}
.beyond .emojibox .pagenav a {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ccc;
  margin: 0 2px;
}
.beyond .emojibox .pagenav a.now {
  background-color: #777;
}
.beyond .emojibox .section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
}
.beyond .emojibox .section > div {
  float: left;
  width: 16.66%;
  text-align: center;
}
.beyond .ctrlbox {
  display: none;
  background-color: #eee;
}
.beyond .ctrlbox table {
  width: 100%;
  height: 40%;
}
.beyond .ctrlbox table .title {
  width: 20%;
  text-align: center;
}
.beyond .ctrlbox table .bar {
  width: 80%;
}
.beyond .ctrlbox table .bar input[type="range"] {
  width: 75%;
  position: relative;
  top: 3px;
}
.beyond .ctrlbox table .bar input[type='text'] {
  width: 18%;
  background-color: transparent;
  color: #333 !important;
  border: 0;
}
.beyond .ctrlbox .btngroup {
  height: 60%;
}
.beyond .ctrlbox .btngroup .btn {
  position: relative;
  width: 90%;
  margin: 0px auto;
  height: 35%;
  line-height: 30px;
  background-color: #19bf62;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.beyond .ctrlbox .btngroup .btn span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.beyond .removebox {
  display: none;
  background-color: #d8574a;
}
.beyond .removebox i {
  font-size: 60px;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.beyond.ctrlstate .ctrlbox {
  display: block;
}
.beyond.removestate .removebox {
  display: block;
}
.emoji {
  position: absolute;
}
.emoji.draging {
  opacity: 0.5;
}
.verticalCenter {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.horizontalCenter {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.veryCenter {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
