<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Emoji表情大暴走</title>
	<link rel="icon" href="__PUBLIC__/img/icon64.ico" />
	<meta name="description" content="地球人已经无法阻止emoji表情啦">
	<meta name="author" content="chendind@leovito.com">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/flaticon/flaticon.css"> 
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css">
    <script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
</head>
<body>
</table>
</for>

	<div style="display:none">
		<img src="__PUBLIC__/img/icon300.png" alt="" />
	</div>
	<div class="savebtn" id="savebtn">
		<i class="flaticon-download164"></i>合成图片
	</div>
	<div class="limitedbox">
		<div class="canvasbox">
			<canvas id="canvas"></canvas>
		</div>
		<div class="uploadbox" id="uploadbox">
			<div class="addicon veryCenter">
				<i class="flaticon-add182"></i>添加一张照片
			</div>
		</div>
		<input id="photofile" type="file" />
	</div>
	<div class="beyond" id="beyond">
		<div class="emojibox" id="emojibox" data-showid="emotion">
			<div class="scrollbox" id="emotion">
				<div class="longbox" data-page="0">
					<for start="0" end="$emotioncount">
						<div data-index="{$i}" class="emojitable">
							<foreach name="emotion[$i]" item="vo[$i]" >
								<div>
									<img src="__PUBLIC__/emoji/emoji64/emotion/{$vo[$i]}">
								</div>
							</foreach>
						</div>
					</for>
				</div>
				<div class="pagenav">
					<for start="0" end="$emotioncount">
						<a <if condition="$i eq 0">class="now"</if>></a>
					</for>
				</div>
			</div>
			<div class="scrollbox" id="human">
				<div class="longbox" data-page="0">
					<for start="0" end="$humancount">
						<div data-index="{$i}" class="emojitable">
							<foreach name="human[$i]" item="vohuman[$i]" >
								<div>
									<img src="__PUBLIC__/emoji/emoji64/human/{$vohuman[$i]}">
								</div>
							</foreach>
						</div>
					</for>
				</div>
				<div class="pagenav">
					<for start="0" end="$humancount">
						<a <if condition="$i eq 0">class="now"</if>></a>
					</for>
				</div>
			</div>
			
			<div class="scrollbox" id="animal">
				<div class="longbox" data-page="0">
					<for start="0" end="$animalcount">
						<div data-index="{$i}" class="emojitable">
							<foreach name="animal[$i]" item="voanimal[$i]" >
								<div>
									<img src="__PUBLIC__/emoji/emoji64/animal/{$voanimal[$i]}">
								</div>
							</foreach>
						</div>
					</for>
				</div>
				<div class="pagenav">
					<for start="0" end="$animalcount">
						<a <if condition="$i eq 0">class="now"</if>></a>
					</for>
				</div>
			</div>
			
			
			<div class="scrollbox" id="garment">
				<div class="longbox" data-page="0">
					<for start="0" end="$garmentcount">
						<div data-index="{$i}" class="emojitable">
							<foreach name="garment[$i]" item="vogarment[$i]" >
								<div>
									<img src="__PUBLIC__/emoji/emoji64/garment/{$vogarment[$i]}">
								</div>
							</foreach>
						</div>
					</for>
				</div>
				<div class="pagenav">
					<for start="0" end="$garmentcount">
						<a <if condition="$i eq 0">class="now"</if>></a>
					</for>
				</div>
			</div>
			
			
			<div class="scrollbox" id="food">
				<div class="longbox" data-page="0">
					<for start="0" end="$foodcount">
						<div data-index="{$i}" class="emojitable">
							<foreach name="food[$i]" item="vofood[$i]" >
								<div>
									<img src="__PUBLIC__/emoji/emoji64/food/{$vofood[$i]}">
								</div>
							</foreach>
						</div>
					</for>
				</div>
				<div class="pagenav">
					<for start="0" end="$foodcount">
						<a <if condition="$i eq 0">class="now"</if>></a>
					</for>
				</div>
			</div>
			<div class="scrollbox" id="other">
				<div class="longbox" data-page="0">
				<for start="0" end="$othercount">
					<div data-index="{$i}" class="emojitable">
						<foreach name="other[$i]" item="voother[$i]" >
							<div>
								<img src="__PUBLIC__/emoji/emoji64/other/{$voother[$i]}">
							</div>
						</foreach>
					</div>
				</for>
				</div>
				<div class="pagenav">
					<for start="0" end="$othercount">
						<a <if condition="$i eq 0">class="now"</if>></a>
					</for>
				</div>
			</div>
			<div class="section">
				<div class="now" data-tab="emotion">表情</div>
				<div data-tab="human">人类</div>
				<div data-tab="animal">动物</div>
				<div data-tab="garment">装备</div>
				<div data-tab="food">食物</div>
				<div data-tab="other">其他</div>
			</div>
		</div>
		<div class="ctrlbox">
			<table>
				<tr>
					<td class="title">缩放</td>
					<td class="bar"> 
						<input type="range" id="sizerange" class="range" value="1" max="2" min="0" step="0.01" ng-model="size" />
						<input type="text" value="1" disabled />
					</td>
				</tr>
				<tr>
					<td class="title">
						旋转
					</td>
					<td class="bar">
						<input type="range" id="rotaterange" class="range" value="0" max="180" min="-180" step="1" ng-model="rotate" />
						<input type="text" value="0" disabled />
					</td>
				</tr>
			</table>
			<div class="btngroup">
				<div class="btn" id="confirmbtn">
					<span>确定</span>
				</div>
				<div class="btn" id="resetbtn" style="margin-top:15px;">
					<span>重置</span>
				</div>
			</div>
		</div>
		<div class="removebox">
			<i class="flaticon-rubbish7"></i>
		</div>
	</div>
<script src="__PUBLIC__/js/public.js"></script>
<script src="__PUBLIC__/js/hidpi-canvas.js"></script>
<script>
var canvas = document.getElementById("canvas"),
	context = canvas.getContext('2d');
	$("#savebtn").bind("click",function(){
		context.drawImage($(".limitedbox img")[0],0,0);
		$(".limitedbox img").hide();
		$.each($(".emoji"),function(){
			
		})
	})
</script>
</body>
</html>