<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Emoji表情大暴走</title>
	<link rel="icon" href="./img/icon64.ico" />
	<meta name="description" content="地球人已经无法阻止emoji表情啦">
	<meta name="author" content="chendind@leovito.com">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="./css/flaticon/flaticon.css"> 
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/public.css">
    <script src="./js/jquery-1.7.2.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
	<div style="display:none">
		<img src="./img/icon300.png" alt="" />
	</div>
	<div class="limitedbox">
		<div class="uploadbox" id="uploadbox">
			<div class="addicon veryCenter">
				<i class="flaticon-add182"></i>添加一张照片
			</div>
		</div>
		<input id="photofile" type="file" />
	</div>
	<div class="beyond" id="beyond">
		<div class="emojibox" id="emojibox">
			<table id="emojitable">
				<tr>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
				</tr>
				<tr>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
				</tr>
				<tr>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
				</tr>
				<tr>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
					<td>
						<img src="./emoji/emoji64/emotion/198.png">
					</td>
				</tr>
			</table>
		</div>
		<div class="ctrlbox">
			<table>
				<tr>
					<td class="title">缩放</td>
					<td class="bar"> 
						<input type="range" id="sizerange" class="range" value="1" max="2" min="0" step="0.01" ng-model="size" />
						<input type="text" value="1" disabled />
					</td>
				</tr>
				<tr>
					<td class="title">
						旋转
					</td>
					<td class="bar">
						<input type="range" id="rotaterange" class="range" value="0" max="180" min="-180" step="1" ng-model="rotate" />
						<input type="text" value="0" disabled />
					</td>
				</tr>
			</table>
			<div class="btn" id="confirmbtn">确定</div>
			<div class="btn" id="resetbtn" style="background-color:#d82920;margin-top:15px;">复位</div>
		</div>
		<div class="removebox">
			<i class="flaticon-rubbish7"></i>
		</div>
	</div>
	
<script>
var sW = $(window).width(), sH = $(window).height(), _r = 0.68;
$("#beyond").height(sH-sW*_r);
$("#uploadbox").bind('click',function(){
	$('#photofile').trigger('click');
})
$("#photofile").on("change",function(){
	var f = this.files[0];
	if(!/image\/\w+/.test(f.type)){ 
		alert("亲只能传图片哦"); 
		return false; 
	} 
	var reader = new FileReader();
	reader.readAsDataURL(f);
	var img = new Image();
	img.src = getUrl(f);
	img.onload = function(){
		var position = sizereset(sW,sW*_r,img.width,img.height);
		this.height = position.h;
		$(img).addClass('veryCenter');
		$('.limitedbox').append($(img));
	}
å})
var tX, tY, oX, oY, imghtml;
var isTouchStart = false;
$("#emojitable td img").on('touchstart',function(e){
	e.stopPropagation();
	e.preventDefault();
	tX = e.originalEvent.changedTouches[0].pageX;
    tY = e.originalEvent.changedTouches[0].pageY;
	oX = $(this).offset().left;
	oY = $(this).offset().top;
	var src = $(this).attr("src");
	imghtml = "<img src='"+src+"' class='emoji draging' style='left:"+oX+"px;top:"+oY+"px;transform:rotate({{rotate}}deg)' />";
	$(imghtml).appendTo('body').dragInit();
	isTouchStart = true;
})

$.fn.dragInit = function(){
	var $this = $(this);
	$(document).on('touchmove.init',function(ev){
		ev.preventDefault();ev.stopPropagation();
		var _oX = oX + ev.originalEvent.changedTouches[0].pageX - tX,
			_oY = oY + ev.originalEvent.changedTouches[0].pageY - tY;
		$this.css({"top":_oY,"left":_oX});
	})
	$(document).on('touchend.init',function(e){
		$(this).off(".init");
		$this.removeClass('draging').beginAdjust();
		if(e.originalEvent.changedTouches[0].pageY>sW*_r){
			$this.removeEmoji();
		}
	})
}
var emojioX, emojioY, emojitX, emojitY;
// 给所有emoji绑定函数
$(document).on('touchstart','.emoji',function(e){
	e.preventDefault();e.stopPropagation();
	emojioX = $(this).offset().left;
	emojioY = $(this).offset().top;
	emojitX = e.originalEvent.changedTouches[0].pageX;
	emojitY = e.originalEvent.changedTouches[0].pageY;
	saveAdjust();//保存之前的调整结果
	$(this).beginAdjust();//当前emoji开始调整
})
$(document).on('touchmove','.emoji',function(e){
	e.preventDefault();e.stopPropagation();
	var _oX = emojioX + e.originalEvent.changedTouches[0].pageX - emojitX,
		_oY = emojioY + e.originalEvent.changedTouches[0].pageY - emojitY;
	$(this).css({"top":_oY,"left":_oX});
	if(!($(this).hasClass('draging'))){
		$(this).addClass('draging');
	}
	//切换removestate状态
	if(e.originalEvent.changedTouches[0].pageY>sW*_r){
		$("#beyond").addClass('removestate');
	}
	else{
		$("#beyond").removeClass('removestate');
	}
})
$(document).on('touchend',".emoji",function(e){
	e.preventDefault();e.stopPropagation();
	if($(this).hasClass('draging')){
		$(this).removeClass('draging');
	}
	if($("#beyond").hasClass('removestate')){
		$(this).removeEmoji();
	}
})

$("input[type='range']").bind('touchmove',function(){
	var v = $(this).val();
	$(this).next('input[type="text"]').val(v);
})
$("#confirmbtn").bind('click',function(){
	saveAdjust();
	$("#beyond").removeClass('ctrlstate');
})
$("#resetbtn").bind('click',function(){
	var w = $(".emoji.adjusting")[0].naturalHeight;
	$(".emoji.adjusting").css({"width":w,"transform":"rotate(0)","-webkit-transform":"rotate(0)"}).attr({"data-size":1,"data-rotate":0});
	$("#sizerange").val(1).next('input[type="text"]').val(1);
	$("#rotaterange").val(0).next('input[type="text"]').val(0);
})
$.fn.beginAdjust = function(){
	$("#beyond").addClass('ctrlstate');
	var vs = $(this).attr("data-size")?$(this).attr("data-size"):1,
	    vr = $(this).attr("data-rotate")?$(this).attr("data-rotate"):0;
	$("#sizerange").val(vs).next('input[type="text"]').val(vs);
	$("#rotaterange").val(vr).next('input[type="text"]').val(vr);
	$(this).bindCtrl();
}
$.fn.bindCtrl = function(){
	var $this = $(this),w = $(this)[0].naturalHeight;
	$(".emoji").removeClass('adjusting');
	$this.addClass('adjusting');
	$('.range').unbind(".control");
	$("#sizerange").bind('touchmove.control',function(){
		var v = $(this).val();
		$this.css({"width":w*v});
	});
	$("#rotaterange").val($this.attr("data-rotate")).bind('touchmove.control',function(){
		var v = $(this).val();
		$this.css({"transform":"rotate("+v+"deg)","-webkit-transform":"rotate("+v+"deg)"});
	})
}
$.fn.removeEmoji = function(){
	$(this).remove();
	$("#beyond").removeClass('removestate ctrlstate');
}
function saveAdjust(){
	$(".emoji.adjusting").attr({"data-size":$("#sizerange").val(),"data-rotate":$("#rotaterange").val()});
}
function sizereset(maxwidth,maxheight,width,height){
	// alert(maxwidth+","+maxheight+","+width+","+height);
  var r = maxwidth/maxheight,
      radio = width/height,
      dx = dy = 0;
  if(radio >= r){
    width=maxwidth;
    height=maxwidth/radio;
    dy=(maxheight-height)/2;
  }
  else{
    height=maxheight;
    width=maxheight*radio;
    dx = (maxwidth-width)/2;
  }
  var position = {
    w:width,
    h:height,
    dx:dx,
    dy:dy
  }
  return position;
}
function getUrl(file){
	var url;
	if (window.createObjectURL != undefined) {
		url = window.createObjectURL(file)
	} 
	else if (window.URL != undefined) {
		url = window.URL.createObjectURL(file)
	} 
	else if(window.webkitURL != undefined) {
		url = window.webkitURL.createObjectURL(file)
	}
	return url;
}
// wx.config({
//     debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
//     appId: 'wx146b1db890a598fd', // 必填，公众号的唯一标识
//     timestamp: '', // 必填，生成签名的时间戳
//     nonceStr: '', // 必填，生成签名的随机串
//     signature: '',// 必填，签名，见附录1
//     jsApiList: [onMenuShareTimeline,onMenuShareAppMessage] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
// });
// wx.onMenuShareTimeline({
//     title: '陈总太牛逼了', // 分享标题
//     link: './index.html', // 分享链接
//     imgUrl: 'img/icon400.png', // 分享图标
//     success: function () { 
//         alert("success");
//     },
//     cancel: function () { 
//         alert("fail");
//     }
// });
// wx.onMenuShareAppMessage({
//     title: '陈总牛逼', // 分享标题
//     desc: '陈总就是牛逼', // 分享描述
//     link: 'http://www.chendind/emoji/index.html', // 分享链接
//     imgUrl: 'http://www.chendind/emoji/img/icon400.png', // 分享图标
//     type: '', // 分享类型,music、video或link，不填默认为link
//     dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
//     success: function () { 
//         alert("分享成功")
//     },
//     cancel: function () { 
//         // 用户取消分享后执行的回调函数
//     }
// });
	</script>
</body>
</html>